@use "../abstracts/variables" as *;

section {
    padding: 100px 0;
}

.diente {
    position: relative;

    .diente-img {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        opacity: 0.5;
    }

    .diente-content {
        text-align: center;

        h2 {
            margin-bottom: 15px;
        }

        .txt-p {
            padding: 0 200px;
            margin-bottom: 35px;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .diente-group {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 30px;
        margin-bottom: 50px;
    }

    .diente-1 {
        padding: 0 25px;
        text-align: center;

        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
            margin: 0 auto 15px auto;
        }

        h3 {
            margin-bottom: 10px;
        }
    }
}

.Productos {
    background-color: $background-medium;
    text-align: center;

    .productos-content h2 {
        margin-bottom: 15px;
    }

    .productos-group {
        display: flex;
        justify-content: space-around;
        gap: 20px;
        margin: 40px 0;
        flex-wrap: wrap;
    }

    .productos-1 {
        padding: 20px;

        img {
            width: 36px;
            height: 36px;
            margin: 0 auto 10px auto;
        }

        h3 {
            font-size: 1.2rem;
        }
    }

    .productos-content p {
        padding: 0 200px;
        margin-bottom: 35px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

.General {
    display: flex;
    align-items: center;
    padding: 0;

    .general-1 {
        width: 50%;
        padding: 100px 150px;
        background-color: $background-dark;

        h2 {
            margin-bottom: 15px;
        }

        p {
            margin-bottom: 25px;
        }
    }

    .general-img {
        width: 50%;
        min-height: 500px;
        background-size: cover;
        background-position: center;
    }
}

.blog {
    text-align: center;

    h2 {
        margin-bottom: 15px;
    }

    > p {
        margin-bottom: 40px;
    }

    .blog-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
        margin-bottom: 40px;
    }
}

// Responsive styles for home page
@media (max-width: $breakpoint-lg) {
    section {
        padding: 80px 20px;
    }

    .diente {
        .diente-img {
            display: none;
        }
        .diente-content .txt-p {
            padding: 0;
        }
    }

    .Productos .productos-content p {
        padding: 0;
    }

    .General {
        flex-direction: column;
        
        .general-1, .general-img {
            width: 100%;
        }

        .general-1 {
            padding: 40px;
            text-align: center;
            order: 2; // Text comes after image
        }

        .general-img {
            min-height: 300px;
            order: 1; // Image comes first
        }
    }
}
