@import '../abstracts/variables';
@import '../abstracts/mixins';

.productos-destacados {
    text-align: center;

    h1 {
        font-size: 3rem;
        margin-bottom: 10px;
        @include breakpoint(mobile) {
            font-size: 2.5rem;
        }
    }

    .subtitulo {
        font-size: 1.1rem;
        color: #777;
        margin-bottom: 50px;
    }
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    margin-top: 40px;
}
