@use "../abstracts/variables" as *;

.footer {
    padding: 80px 0;
    background-color: $text-dark;

    .footer-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;
    }

    .link h3 {
        font-size: 1.2rem;
        color: $text-light;
        margin-bottom: 15px;
    }

    .link a {
        font-size: 1rem;
        color: $text-subtle;
        display: block;
        margin-bottom: 10px;
        transition: color 0.3s ease;

        &:hover {
            color: $primary-color;
        }
    }

    @media (max-width: $breakpoint-md) {
        padding: 40px 20px;

        .footer-content {
            flex-direction: column;
            text-align: center;
        }
    }
}
