@import '../abstracts/variables';
@import '../abstracts/mixins';

.footer {
    padding: ($spacing-unit * 4) 0;
    background-color: $text-color-dark;

    @include breakpoint(tablet) {
        padding: ($spacing-unit * 2);
    }

    .footer-content {
        display: flex;
        justify-content: space-between;

        @include breakpoint(tablet) {
            flex-direction: column;
            text-align: center;
        }
    }

    .link {
        @include breakpoint(tablet) {
            margin-bottom: ($spacing-unit * 2);
        }

        h3 {
            font-size: 1.2rem;
            color: $text-color-light;
            margin-bottom: 15px;
        }

        a {
            font-size: 1rem;
            color: #c5c5c5;
            display: block;
            margin-bottom: 10px;
            transition: color 0.3s ease;

            &:hover {
                color: $primary-color;
            }
        }
    }
}
