@use "../abstracts/variables" as *;

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: $primary-color;
    color: $text-dark;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
        background-color: $secondary-color;
        transform: translateY(-2px);
    }
}
