@use "../abstracts/variables" as *;

.card {
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: $box-shadow-hover;
    }

    .card-image img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .card-content {
        padding: ($spacing-unit * 2) ($spacing-unit * 2.5); // 16px 20px

        h3 {
            margin-bottom: $spacing-unit;
        }

        p {
            font-size: 0.9rem;
            margin-bottom: $spacing-unit * 2;
        }
    }
}
