@import '../abstracts/variables';
@import '../abstracts/mixins';

.product-card {
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    overflow: hidden;
    text-align: center;
    padding-bottom: ($spacing-unit * 1.5);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
        transform: translateY(-5px);
    }

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-bottom: 15px;
    }

    h3 {
        font-size: 1.6rem;
        margin-bottom: 10px;
        padding: 0 15px;
    }

    p {
        font-size: 0.95rem;
        color: $text-color-secondary;
        margin-bottom: 15px;
        padding: 0 15px;
        flex-grow: 1;
    }

    .precio {
        font-size: 1.8rem;
        font-weight: $font-weight-bold;
        color: $primary-color;
        display: block;
        margin-bottom: 20px;
    }
}
