@use "../abstracts/variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-main;
  background-color: $background-light;
  color: $text-dark;
}

img {
  max-width: 100%;
  display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
  max-width: $breakpoint-xl;
  margin: 0 auto;
  padding: 0 ($spacing-unit * 2.5); // 20px
}
