@import '../abstracts/variables';

body {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-normal;
    color: $text-color-secondary;
    background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-bold;
    color: $text-color-dark;
    line-height: 1.2;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 1.5rem; }

p {
    margin-bottom: $spacing-unit;
}
