// Colors
$primary-color: #EACCB3;
$secondary-color: #d8b492; // Hover color for primary

$text-light: #fffdfc;
$text-dark: #121212;
$text-muted: #555;
$text-subtle: #c5c5c5;

$background-light: #f9f9f9;
$background-medium: #e1e2e6;
$background-dark: #f0f0f0;

$white: #fff;
$black: #000;

$border-color: #ddd;

// Font
$font-family-main: "Poppins", sans-serif;

// Sizing & Spacing
$spacing-unit: 8px;
$border-radius: 8px;

// Effects
$box-shadow: 0 4px 15px rgba($black, 0.08);
$box-shadow-hover: 0 6px 20px rgba($black, 0.12);

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
