// Colors
$primary-color: #EACCB3;
$text-color-light: #fffdfc;
$text-color-dark: #121212;
$text-color-secondary: #555;
$background-color: #f9f9f9;
$background-color-alt: #e1e2e6;
$white: #fff;
$black: #000;
$border-color: #ddd;

// Fonts
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 1rem;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

// Spacing
$spacing-unit: 1rem;

// Breakpoints
$breakpoint-tablet: 991px;
$breakpoint-mobile: 767px;

// Other
$border-radius: 5px;
$box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);